{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "prettier",
    "airbnb-base",
    "airbnb-typescript/base",
    "plugin:prettier/recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "rules": {
    // Limit Cyclomatic Complexity
    "complexity": [
      "error",
      11
    ],
    // Enforce a maximum depth that blocks can be nested
    "max-depth": [
      "error",
      4
    ],
    // Enforce a maximum file length
    "max-lines": [
      "error",
      {
        "max": 300,
        "skipBlankLines": true,
        "skipComments": true
      }
    ],
    // Enforce a maximum function length
    "max-lines-per-function": [
      "error",
      {
        "max": 50,
        "skipBlankLines": true,
        "skipComments": true,
        "IIFEs": true
      }
    ],
    // Enforce a maximum depth that callbacks can be nested
    "max-nested-callbacks": [
      "error",
      3
    ],
    // Enforce a maximum number of parameters in function definitions
    "max-params": [
      "error",
      5
    ],
    // Enforce a maximum number of statements allowed per line
    "max-statements": [
      "warn",
      15
    ],
    "max-classes-per-file": "off",
    "no-case-declarations": "off",
    "class-methods-use-this": "off",
    "import/prefer-default-export": "off",
    "import/extensions": "off",
    "camelcase": "off",
    "@typescript-eslint/naming-convention": 0,
    "@typescript-eslint/explicit-member-accessibility": 0,
    "@typescript-eslint/explicit-function-return-type": 0,
    "@typescript-eslint/no-parameter-properties": 0,
    "@typescript-eslint/interface-name-prefix": 0,
    "@typescript-eslint/explicit-module-boundary-types": 0,
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/ban-types": "off",
    "@typescript-eslint/no-var-requires": "off",
    "@typescript-eslint/ban-ts-comment": "off"
  }
}
